
<!-- Put this in the HTML section in JSFiddle! -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
	<p v-if="show">You can see me!</p>
	<p v-else>Now You See Me</p>
	<template v-if="show">
		<p>Inside a template</p>
	</template>
	<p v-show="true">Do you also see me?</p>
	<button @click="show=!show">Show/Hide</button>
	<hr>
	<br>
	<ul>
		<li v-for="ingredient in ingredients">{{ ingredient }}</li>
		<br>
		<li v-for="person in persons">Name: {{person.name}} <br> Age: {{person.age}}</li>
	</ul>

</div>
<script>
	new Vue({
		el: '#app',
		data: {
			show: true,
			ingredients:['meat', 'fruit', 'cookies'],
			persons: [
			{name: 'Chris', age: 29},
			{name: 'Deanna', age: 29}
			]
		}
	})
</script>